Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [44]:
#Ваш код здесь
df.groupby('gender').count() # Оценим кол-во гендеров, пропусков, и вообще имеет ли смысл считать соотношение.
gen = df['gender']
gen[gen == 'Male'].count() / gen[gen == 'Female'].count()

1.0192087155963303

In [45]:
# Есть гипотеза, что соотношение 1 к 1, разница в пару процентов может объясняться случайностью, 
# и вряд ли будет иметь существенное значение

##### 2. Какое количество уникальных значений у поля InternetService?

In [46]:
#Ваш код здесь
len(df['InternetService'].unique())

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [47]:
#Ваш код здесь

# Закомментировал, чтобы ноутбук выполнялся от начала до конца, в 5 задании
#  Тоже обрабатывается поле TotalCharges

# Данные сохранены как строка. Приведем к float64.
# df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
# df['TotalCharges'].fillna(df['TotalCharges'].median())
# df['TotalCharges'].astype(np.float32);
# df['TotalCharges'].describe()

In [48]:
# df['TotalCharges'].median()

In [49]:
# df['TotalCharges'].std()

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [50]:
#Ваш код здесь
df['PhoneServiceTmp'] = df['PhoneService']
df['PhoneService'] = df['PhoneService'].map(lambda x: 1 if x == 'Yes' else 0)
df[['PhoneServiceTmp', 'PhoneService']].head(5)

  PhoneServiceTmp  PhoneService
0              No             0
1             Yes             1
2             Yes             1
3              No             0
4             Yes             1

In [51]:
df.drop('PhoneServiceTmp', axis=1);

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [52]:
#Ваш код здесь
# Уже заполнил пропуски в 3 задании, поэтому перезагружу данные.
# df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")


df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan).astype('float32').fillna(0)

df['TotalCharges'].mean()

2279.732177734375

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [53]:
#Ваш код здесь
df['Churn'].unique() # Убедимся что нет некорректных значений
df.groupby(['Churn']).count()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,PhoneServiceTmp
Churn,,,,,,,,,,,,,,,,,,,,,
No,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,...,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174
Yes,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,...,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869

In [54]:
# Зашел с одногруппником разговор о скорости, решил проверить три возможных решения.

In [55]:
# %%time
# df.loc[df['Churn']=='Yes', 'Churn'] = 1
# df.loc[df['Churn']=='No', 'Churn'] = 0

In [56]:
%%time
df['Churn'] = np.where(df['Churn']=='Yes', 1, 0)

CPU times: user 2.17 ms, sys: 431 µs, total: 2.6 ms
Wall time: 3.35 ms

In [57]:
# %%time
# df['Churn'] = df['Churn'].map(lambda x : 1 if x == 'Yes' else 0 )
# df['Churn'].head()

np.where Показала себя самым быстрым способом замены. Увы, при этом способе возможны всего два значения на выходе. А вот от .loc я ожидал лучшего результата. Даже один проход занимает больше времени, чем перебор .map по датасету.

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [58]:
%%time
df['StreamingMovies'] = np.where(df['StreamingMovies']=='Yes', 1, 0)
df['StreamingTV'] = np.where(df['StreamingTV']=='Yes', 1, 0)
df['TechSupport'] = np.where(df['TechSupport']=='Yes', 1, 0)

CPU times: user 3.89 ms, sys: 4.38 ms, total: 8.27 ms
Wall time: 7.88 ms

In [59]:
# %%time
# df['StreamingMovies'] = df['StreamingMovies'].map(lambda x : 1 if x == 'Yes' else 0 )
# df['StreamingTV'] = df['StreamingTV'].map(lambda x : 1 if x == 'Yes' else 0 )
# df['TechSupport'] = df['TechSupport'].map(lambda x : 1 if x == 'Yes' else 0 )

##### 8. Заполните пропуски в поле PhoneService значением 0

In [60]:
#Ваш код здесь

df['PhoneService'].fillna(0)

df['PhoneService'].describe()

count    7043.000000
mean        0.903166
std         0.295752
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: PhoneService, dtype: float64

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [61]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь

old_df = df

df = df[columns]
df.head(3)
df.groupby('PhoneService').count().sum()

gender             7043
tenure             7043
TotalCharges       7043
StreamingMovies    7043
StreamingTV        7043
TechSupport        7043
Churn              7043
dtype: int64

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [62]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь

X = df[features]
y = df[target]


X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

X_train.head(2)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
298,Male,40,1,3015.75,1,1,0
3318,Male,10,0,255.25,0,0,0

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [63]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])
# Собран же пайплайн уже, не вполне понял, что еще в п. 10 нужно сделать

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [64]:
#Ваш код здесь
gender.fit_transform(X_train)

      gender_Female  gender_Male
298               0            1
3318              0            1
5586              1            0
6654              1            0
5362              0            1
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[4718 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

Если данные имеют разную размерность, бОльшие значения могут на этапе обучения быть расценены как более важные. Ну и на этапе интерпритации результата при разнородных значениях веса не будут говорить ни о чем, при стандартизированных данных же более справедливо утверждение - чем больше вес, тем более значимый признак.

In [65]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [66]:
#Ваш код здесь
TotalCharges = Pipeline([('selector', NumberSelector(key='TotalCharges')),
                         ('standard', StandardScaler())
                        ])

Объединение всех "кубиков" очень легко сделать таким образом

In [67]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [68]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [69]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [70]:
#Ваш код здесь
pipeline.predict(X_test)

array([1, 0, 0, ..., 1, 1, 0])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [71]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь

roc_auc_score(y_true=y_test, y_score=pipeline.predict_proba(X_test)[:, 1])

0.7850135495760595

In [72]:
log_loss(y_true=y_test, y_pred=pipeline.predict(X_test))

8.036839716940413

### Сохраним наш пайплайн

In [73]:
# pip install dill

In [75]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)